.modal::before{
    content: "";
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.376);
}

.modal{
    display: none;
    justify-content: center;
    position: absolute;
    top: 80px;
    left: 0px;
    height: 100vh;
    z-index: 1;
    width: 100%;
}

.modal-container{
    max-width: 900px;
    padding:40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgb(255, 255, 255) 20%);
    position: relative;
}

.img-modal{
    max-width: 300px;
    width: 100%;
}

.item-descricao{
    display: flex;
    flex-direction: column;
}


/* botao modal */
.botao{
    background-color: black;
    color: white;
    width: 40%;
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
}

.fechar-modal{
    position: absolute;
    right: -10px;
    top: -20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.estoqueDisponivel{
    pointer-events: none;
    background-color: gray;
}
